@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Ruel de la Poste<br />
        Brunoy<br />
        <abbr title="Phone">P:</abbr>
        +33.66.77.88.99
    </address>

    <address>
        <strong>Host:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    </address>
</main>