@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">My First Page </h1>
        <p class="lead">This is my first page</p>
        <p><a href="https://github.com/christianpopescu" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started with knowledge</h2>
            <p>
              Knowledge management information
            </p>
            <p><a class="btn btn-outline-dark" href="https://github.com/christianpopescu/KnowledgeManagement/wiki">Knowledge Management &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">More repositories</h2>
            <p>There are more repositories</p>
            <p><a class="btn btn-outline-dark" href="https://github.com/christianpopescu">More repositories &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">More info</h2>
            <p>Some interessting local information</p>
            <p><a class="btn btn-outline-dark" href="https://www.yerres.fr/">Learn more &raquo;</a></p>
        </section>
    </div>
</main>